// *************** Logo ***************
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
.logo {
  font-family: 'Beau Rivage', cursive;
  text-align: center;
  font-size: 5rem;
  color: #002255;
  margin: 0;
  user-select: none;
}



// *************** Utils ***************
.flex-grow {
  flex-grow: 1;
}
.grid-center {
  display: grid;
  place-content: center;
}



// *************** Main ***************
body {
  width: min(100%, 900px);
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.main {
  flex-grow: 1;
  padding: 1rem;

  h2 {
    margin-bottom: 1rem;
  }
}



// *************** Auth ***************
.auth {
  margin-top: 5rem;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.auth h2 {
  text-align: center;
}
.auth form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}



// *************** Alerts ***************
.messages {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 1rem;
}
.messages .alert {
  margin-inline: auto;
  width: min(100% - 2rem, 600px);
}



// *************** Navbar ***************
.nav-item > .nav-link {
  padding-inline: 0.75rem;
}
.navbar-nav {
  width: 100%;
  gap: 0.5rem;
}
.nav-search {
  width: auto;
}
.nav-search:not(:hover) {
  background-color: inherit;
  border: 1px solid transparent;
}
.user-toggle {
  display: inline-block;
  min-width: 5rem;
  text-align: center;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  background-color: #fff;
}



// *************** Watchlist ***************
.watchlist-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.watchlist-counter {
  display: inline-block;
  height: 1rem;
  min-width: 1rem;
  background-color: #777;
  color: #fff;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.25rem;
}
.watchlist-btn {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.25rem;
}
.watchlist-check {
  background-color: #aaa;
}



// *************** Listings ***************
.listing {
  &.img {
    display: grid;
    place-content: center;
  }
  img {
    max-height: 300px;
    max-width: 100%;
  }
  &.img.full img {
    max-height: 100%;
  }
  
  &.title {
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  &.price {
    font-size: 1.1rem;
    color: #222;
    margin-bottom: 1rem;
  }

  &.description {
    color: #444;
  }

  &.time {
    color: #555;
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
  
  &.category {
    display: block;
    font-size: 0.9rem;
    margin-top: 0.5rem;
  } 

  &.controls {
    justify-content: flex-end;
    gap: 1rem;
    margin-left: 2rem;
  }
}
.description-tag {
  font-size: 0.9rem;
  color: #444;
}
.listing-closed {
  background-color: rgba($color: #eee, $alpha: 0.8);
}
.listing-won {
  background-color: rgba($color: #0f0, $alpha: 0.2);
}



// *************** Comments ***************
.comment {
  padding: 1rem 0;

  +.comment {
    border-top: 1px solid #ccc;
  }
  .user {
    display: inline-block;
    padding: 0 1rem;
    color: #333;
    text-decoration: none;
    border: 1px solid #eee;
    border-radius: 0.25rem;
  }

  .time {
    color: #777;
    font-size: 0.8rem;
  }

  .content {
    padding: 0.5rem 1rem 0;
  }
}



// *************** Categories ***************
.categories {
  font-size: 1.2rem;

  li {
    line-height: 2.5rem;
  }

  li::marker {
    color: #002255;
  }
}



// Bids
.callout {
  padding: 1rem;
  margin-top: 0.5rem;
  border: 1px solid #e9ecef;
  border-left-width: .25rem;
  border-radius: .25rem;

  &:first-of-type {
    border-left-color: rgba($color: #0f0, $alpha: 0.2);
  }
  
  &.callout-danger {
    border-left-color: #d9534f;
    background-color: rgba($color: #eee, $alpha: 0.8);
    opacity: 0.6;
  }

  &.callout-info {
    border-left-color: #5bc0de;
  }
}