@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap");
.brand-logo {
  font-family: "Beau Rivage", cursive;
  text-align: center;
  font-size: 5rem;
  margin: 0;
  user-select: none;
}

body {
  width: min(100%, 900px);
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  padding: 1rem;
}
.main h2 {
  margin-bottom: 1rem;
}

.messages {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 1rem;
}

.messages .alert {
  margin-inline: auto;
  width: min(100% - 2rem, 600px);
}

.nav-item > .nav-link {
  padding-inline: 0.75rem;
}

.navbar-nav {
  width: 100%;
  gap: 0.5rem;
}

.flex-grow {
  flex-grow: 1;
}

.nav-search {
  width: auto;
}

.nav-search:not(:hover) {
  background-color: inherit;
  border: 1px solid transparent;
}

.user-toggle {
  display: inline-block;
  min-width: 5rem;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  background-color: #fff;
}

.watchlist-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.watchlist-counter {
  display: inline-block;
  height: 1rem;
  min-width: 1rem;
  background-color: #777;
  color: #fff;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.25rem;
}

.watchlist-btn {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.25rem;
}

.watchlist-check {
  background-color: #aaa;
}

.auth {
  margin-top: 5rem;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.auth h2 {
  text-align: center;
}

.auth form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.listing.img {
  display: grid;
  place-content: center;
}
.listing img {
  max-height: 300px;
}
.listing.title {
  display: block;
  color: #333;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
}
.listing.price {
  font-size: 1.1rem;
  color: #222;
  margin-bottom: 0.8rem;
}
.listing.description {
  color: #444;
}
.listing.time {
  color: #555;
  font-size: 0.9rem;
}
.listing.category {
  display: block;
  font-size: 0.9rem;
  margin-top: 0.8rem;
}
.listing.controls {
  justify-content: flex-end;
  gap: 1rem;
  margin-left: 2rem;
}

.listing-closed {
  background-color: #f9f9f9;
  opacity: 0.5;
}

.status-label {
  display: inline-block;
  align-self: center;
  background-color: #777;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
}

.description-tag {
  font-size: 0.9rem;
  color: #444;
}
.description-tag + .description-tag {
  margin-top: 0.5rem;
}

.grid-center {
  display: grid;
  place-content: center;
}

.comment {
  padding: 1rem 0;
}
.comment + .comment {
  border-top: 1px solid #ccc;
}
.comment .user {
  display: inline-block;
  padding: 0 1rem;
  color: #333;
  text-decoration: none;
  border: 1px solid #eee;
  border-radius: 0.25rem;
}
.comment .time {
  color: #777;
  font-size: 0.8rem;
}
.comment .content {
  padding: 0.5rem 1rem 0;
}

/*# sourceMappingURL=styles.css.map */
