{% extends "auctions/layout.html" %}

{% block body %}

<h2>{{ category }}</h2>

{% for listing in listings %}
<div class="listing">
  <ul>
    <li><a href="{% url 'listing_view' listing.id %}">title: {{ listing.title }}</a></li>
    {% if listing.current_bid %}
    <li>bid: {{ listing.current_bid }}</li>
    {% else %}
    <li>bid: {{ listing.starting_bid }}</li>
    {% endif %}
    <li>description: {{ listing.description }}</li>
  </ul>
</div>
{% empty %}
<div>Nothing here yet</div>
{% endfor %}

{% endblock %}