{% extends "auctions/layout.html" %}
{% load custom_tags %}

{% block body %}

<h2>Active Listings</h2>

<div class="listings-grid">  
  {% for listing in listings %}
  <div class="card">
    
    {% if listing.img_url %}
    <div class="listing img">
      <a href="{% url 'listing_view' listing.id %}">
        <img src="{{ listing.img_url }}" alt="{{ listing.title }}">
      </a>
    </div>
    {% endif %}

    <div class="card-body listing">
      <a class="title" href="{% url 'listing_view' listing.id %}">{{ listing.title }}</a>

      <div class="description">
        {{ listing.description }}
      </div>

      {% if listing.category %}
      <a class="category" href="{% url 'category_view' listing.category.id %}">
        {{ listing.category.name }}
      </a>
      {% endif %}

      <div class="price">
        {% listing_bid listing %}
      </div>
    </div>

  </div>

  {% empty %}
  <div>Nothing here yet</div>

  {% endfor %}
</div>

{% endblock %}