{% extends "auctions/layout.html" %}

{% block title %}
Edit listing: {{ listing.title }}
{% endblock %}

{% block body %}

{% if listing.user_id == request.user %}

<h2>Edit Listing</h2>

<form action="{% url 'listing_edit' listing.id %}" method="POST">
  {% csrf_token %}

  <div class="row mb-3">
    <label for="id_title" class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-10">{{ form.title }}</div>
    <div class="col">{{ form.title.errors }}</div>
  </div>

  <div class="row mb-3">
    <label for="id_description" class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">{{ form.description }}</div>
    <div class="col">{{ form.description.errors }}</div>
  </div>

  <div class="row mb-3">
    <label for="id_img_url" class="col-sm-2 col-form-label">Image URL</label>
    <div class="col-sm-10">{{ form.img_url }}</div>
    <div class="col">{{ form.img_url.errors }}</div>
  </div>

  <div class="row mb-3">
    <label for="id_category" class="col-sm-2 col-form-label">Category</label>
    <div class="col-sm-10">{{ form.category }}</div>
    <div class="col">{{ form.category.errors }}</div>
  </div>

  <div class="row mb-3 collapse" id="id_category_inp">
    <label for="id_category_new" class="col-sm-2 col-form-label">Suggest new category</label>
    <div class="col-sm-10">{{ form.category_new }}</div>
    <div class="col">{{ form.category_new.errors }}</div>
  </div>
  
  <input class="btn btn-primary" type="submit" value="Edit">
  
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
    Delete
  </button>

  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Warning</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this listing? This action cannot be undone.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <input class="btn btn-danger" type="submit" name="delete" value="Delete">
        </div>
      </div>
    </div>
  </div>

</form>

<script>
  const categorySelect = document.querySelector('#id_category');
  const categoryInput = document.querySelector('#id_category_inp');
  const bsCollapse = new bootstrap.Collapse(categoryInput, {
    toggle: false
  })

  function checkCategory() {
    if (categorySelect.value === '+') {
      bsCollapse.show()
    } else {
      bsCollapse.hide()
    }
  }
  checkCategory();

  categorySelect.addEventListener('change', checkCategory);
</script>

{% else %}
<h2>You can edit only your own listings</h2>

{% endif %}

{% endblock %}