{% load custom_tags %}

<div class="row g-3">
  {% for listing in listings %}
  {% listing_top_bid listing as top_bid %}    

  <div class="card {% if not listing.active %} listing-closed {% if top_bid.user_id == user %} listing-won {% endif %} {% endif %}">
    <div class="row">
      {% if listing.img_url %}
      <div class="col-md-4 listing img">
        <a href="{% url 'listing_view' listing.id %}">
          <img src="{{ listing.img_url }}" alt="{{ listing.title }}">
        </a>
      </div>
      {% endif %}
      <div class="col-md">
        <div class="card-body">
          <a class="listing title" href="{% url 'listing_view' listing.id %}">
            {% if not listing.active %}
              {% if top_bid.user_id == user %}
              <span class="badge bg-success">You won!</span>
              {% else %}
              <span class="badge bg-secondary">Closed</span>
              {% endif %}
            {% endif %}
            <span>{{ listing.title }}</span>
          </a>
          <div class="listing price">
            {% listing_price listing %}
          </div>
          <div class="listing description">
            <input type="radio" name="show-{{ listing.id }}" id="description-show-{{ listing.id }}">
            <label for="description-show-{{ listing.id }}">
              {{ listing.description }}
            </label>
          </div>
          <div class="listing time">
            Posted: {{ listing.time }}
          </div>
          {% if listing.closed %}
          <div class="listing time">
            Closed: {{ listing.closed }}
          </div>
          {% endif %}
          {% if listing.category %}
          {% if listing.category.approved %}
          <a class="listing category" href="{% url 'category_view' listing.category.id %}">
            {{ listing.category.name }}
          </a>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>