{% extends "auctions/layout.html" %}
{% load custom_tags %}

{% block title %}
Listing bids: {{ listing.title }}
{% endblock %}

{% block body %}

<h2>Bids: <a href="{% url 'listing_view' listing.id %}">{{ listing.title }}</a></h2>

{% for bid in bids %}
<div class="callout {% if not bid.available %} callout-danger {% endif %}">
  <div>
    {% if not bid.available %}
    <span class="badge bg-danger">Removed</span>
    {% endif %}
    {{ bid.amount|usd }}
  </div>
  <div><span class="description-tag">from:</span> <a href="{% url 'user_page' bid.user_id.id %}">{{ bid.user_id }}</a></div>
  <div><span class="description-tag">{{ bid.time }}</span></div>
</div>

{% empty %}
<div>No bids yet</div>

{% endfor %}

<div class="callout callout-info">Starting bid: {{ listing.starting_bid|usd }}</div>

{% endblock %}