{% extends "auctions/layout.html" %}

{% block body %}

{% if listing.user_id == request.user %}
<h2>Edit Listing</h2>

<form action="{% url 'listing_edit' listing.id %}" method="POST">
  {% csrf_token %}
  <div>{{ form.title.label }} {{ form.title }} {{ form.title.errors }}</div>
  <div>{{ form.description.label }} {{ form.description }} {{ form.description.errors }}</div>
  <div>{{ form.img_url.label }} {{ form.img_url }} {{ form.img_url.errors }}</div>
  
  
  <div>{{ form.category.label }} {{ form.category }} {{ form.category.errors }}</div>
  <div>{{ form.category_new.label }} {{ form.category_new }} {{ form.category_new.errors }}</div>
  
  <input type="submit" value="Edit">
  <input type="submit" name="delete" value="Delete">
</form>

{% else %}
<h2>You can edit only your own listings</h2>

{% endif %}

{% endblock %}