{% extends "auctions/layout.html" %}
{% load custom_tags %}

{% block body %}

<h2>Bids</h2>
<h4>{{ listing.title }}</h4>

<div class="listing">
  {% for bid in bids %}
  <ul>
    {% if not bid.available %}
    <li><strong>Removed</strong></li>
    {% endif %}

    <li>{{ bid.amount|usd }}</li>
    <li>from: {{ bid.user_id }}</li>
    <li>{{ bid.time }}</li>
  </ul>
  {% empty %}
  <div>No bids yet</div>
  {% endfor %}
</div>

<h4>starting bid: {{ listing.starting_bid }}</h4>

<form action="{% url 'listing_view' listing.id %}" method="GET">
  <input type="submit" value="Back to listing">
</form>

{% endblock %}