{% extends "auctions/layout.html" %}
{% load custom_tags %}

{% block body %}

<h2>Search</h2>

<form action="{% url 'search' %}" method="GET">
  {{ form }}
  <input type="submit" value="Search">
</form>

<h2>Results</h2>

{% for listing in listings %}
<div class="listing">
  <ul>
    <li><a href="{% url 'listing_view' listing.id %}">title: {{ listing.title }}</a></li>
    
    {% if listing.current_bid %}
    <li>bid: {{ listing.current_bid }}</li>
    {% else %}
    <li>bid: {{ listing.starting_bid }}</li>
    {% endif %}
    
    <li>description: {{ listing.description }}</li>
    
    <li>category: 
      {% if listing.category %}
      {% url 'search' as link %}
      <a href='{% search_category link listing.category.id %}'>
      {{ listing.category }}
      </a>
      {% else %}
      {{ listing.category }}
      {% endif %}
    </li>

    <li>
      {{ listing.time }}
    </li>


  </ul>
</div>

{% empty %}
<div>No results</div>

{% endfor %}

{% endblock %}